.pageheader{
    height: 240px;
    width:flex;
  }

  .heading1{
    
      margin-left: 50px;
      font-size:30pt;
      padding-top: 20pt;
      
  }
  .heading2{
    
    margin-left: 50px;
    font-size:20pt;
    padding-top: 2pt;
    
}
.profile-img{
    width:fit-content;
}
.heading12{
    
    margin-left: 50px;
    font-size:30pt;
    padding-top: 2pt;
    
}
  .footer{
      height:100px;
      width:flex;
  }
  
  .img1{
      height:35pt;
      width:35pt;
      border-radius: 30pt;
    
      margin-top: 10pt;
  }

  .img2{
    height:35pt;
    width:35pt;
    border-radius: 30pt;
    border-color: white;
    border: 10pt;
    
    margin-top: 10pt;
    
}
.nav{
    background-color: black;
}

.textcolor{
    color: indigo;
}
.img4{
    height:200px;
      width:185px;
      border-radius: 75pt;
      margin-top: 13pt;
  
}
.txt{
    padding: 10pt;
    border-radius: 30em 60em 20em 40em;
    background-color: blueviolet;
}
.background{
    background-color: indigo;
}
.flexbox{
    display:flex;
    margin:60px 60px 60px 60px;
}
.onrow{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.oncol{
    background-color: black;
    margin-left:10px;
    margin-right: 10px;
    min-width: 50px;
    border-radius: 4px;
}
.gridcontainer{
    display:grid;
    margin:20px 200px 20px 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: blueviolet;
    column-gap:100px;
    row-gap: 20px;
    grid-template-columns: repeat(4,minmax(80px,100px));
    grid-template-rows:repeat(3,minmax(20px,100px));
    
    

}
.griditem{
    background-color: black;
    min-height: 80px;
    height:100%
}

.card{
    height:50%;
}
.card_color{
    background-color:indigo;
}
.card-img-top{
    height: 150px;
}
